[Desktop Entry]
Categories=;
Exec=dem
GenericName=EFOTO - DEM
Hidden=false
Icon=/usr/share/icons/archeos/48x48/archeos_efoto48.png
Name=DEM
NoDisplay=false
StartupNotify=true
Terminal=0
TryExec=dem
Type=Application
Version=0.1
