[Desktop Entry]
Categories=;
Comment=CAD Editor
Encoding=UTF-8
Exec=qcad
Hidden=false
Icon=/usr/share/pixmaps/qcad.xpm
Name=QCad
StartupNotify=true
Terminal=false
TryExec=qcad
Type=Application
Version=2.0.5.0-Free-1
