[Desktop Entry]
Categories=;
Comment=User-friendly Desktop Internet GIS
Encoding=UTF-8
Exec=udig.sh
GenericName=Udig GIS
Hidden=false
Icon=/usr/share/icons/archeos/48x48/udig.png
Name=Udig
Name[en_GB]=udig.desktop
StartupNotify=true
Terminal=false
TryExec=udig.sh
Type=Application
Version=1.2M8
