#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=iceweasel
Name[en_US]=PHPPgAdmin
Exec=/usr/bin/iceweasel http://localhost/phppgadmin/
Comment[en_US]=PHPPgAdmin - PostGres web administration interface
Name=PHPPgAdmin
Comment=PHPPgAdmin - PostGres web administration interface
Icon=iceweasel
