[Desktop Entry]
Categories=;
Comment=Create and edit 3D models and animations
Comment[de]=Erstellen und Editieren von 3D Modellen und Animationen
Comment[fr]=Création et édition d'objets 3D et animations
Comment[ru]=Создание и редактирование трёхмерных моделей и анимаций
Exec=blender -W
GenericName=3D modeller
GenericName[de]=3D Modellierer
GenericName[fr]=modeleur 3D
GenericName[ru]=Редактор 3D-моделей
Hidden=false
Icon=blender
MimeType=application/x-blender;
Name=Blender (fullscreen)
Name[de]=Blender (Vollbild)
Name[fr]=Blender (plein écran)
StartupNotify=false
Terminal=false
Type=Application
