[Desktop Entry]
Categories=;
Comment=Geographic Information System (GIS)
Encoding=UTF-8
Exec=gvSIG
GenericName=gvSIG
Hidden=false
Icon=/usr/share/icons/archeos/48x48/gvSIG_48x48.png
Name=gvSIG
StartupNotify=true
Terminal=false
TryExec=gvSIG
Type=Application
Version=1.9
