[Desktop Entry]
Categories=;
Exec=oi
GenericName=EFOTO - Interior Orientation
Hidden=false
Icon=/usr/share/icons/archeos/48x48/archeos_efoto48.png
Name=Interior
NoDisplay=false
StartupNotify=true
Terminal=0
TryExec=oi
Type=Application
Version=0.1
