[Desktop Entry]
Categories=;
Exec=norm
GenericName=EFOTO - Normalization
Hidden=false
Icon=/usr/share/icons/archeos/48x48/archeos_efoto48.png
Name=Normalization
NoDisplay=false
StartupNotify=true
Terminal=0
TryExec=norm
Type=Application
Version=0.1
