[Desktop Entry]
Categories=;
Exec=ft
GenericName=EFOTO - Phototriangulation
Hidden=false
Icon=/usr/share/icons/archeos/48x48/archeos_efoto48.png
Name=Phototriangulation
NoDisplay=false
StartupNotify=true
Terminal=0
TryExec=ft
Type=Application
Version=0.1
