[Desktop Entry]
Categories=;
Exec=/usr/bin/qgis %F
GenericName=Geographical Information System
GenericName[de]=Geographisches Informationssystem
Hidden=false
Icon=qgis-icon
MimeType=application/x-qgis-project;image/tiff;image/jpeg;image/jp2;application/x-raster-aig;application/x-raster-ecw;application/x-raster-mrsid;application/x-mapinfo-mif;application/x-esri-shape;
Name=Quantum GIS
StartupNotify=false
Terminal=false
TryExec=/usr/bin/qgis
Type=Application
Version=1.0
