[Desktop Entry]
Categories=;
Exec=rect
GenericName=EFOTO - Rectification
Hidden=false
Icon=/usr/share/icons/archeos/48x48/archeos_efoto48.png
Name=Rectification
NoDisplay=false
StartupNotify=true
Terminal=0
TryExec=rect
Type=Application
Version=0.1
