[Desktop Entry]
Categories=;
Comment=System for aligning and merging range data
Encoding=UTF-8
Exec=scanalyze
GenericName=Scanalyze
Hidden=false
Icon=/usr/share/icons/archeos/48x48/scanalyze_48x48.png
Name=Scanalyze
StartupNotify=true
Terminal=false
TryExec=scanalyze
Type=Application
Version=1.0.3
