[Desktop Entry]
Encoding=UTF-8
Name=SQLite database browser
Comment=GUI editor for SQLite databases
TryExec=sqlitebrowser
Exec=sqlitebrowser
Icon=sqlitebrowser.png
Terminal=false
Type=Application
Categories=Database;Qt;ArcheosDB;
StartupNotify=false
MimeType=application/x-sqlite;
