[Desktop Entry]
Categories=;
Exec=stereo
GenericName=stereo
Hidden=false
Icon=/usr/share/icons/archeos/48x48/stereo_48x48.png
Name=stereo
NoDisplay=false
StartupNotify=true
Terminal=1
TryExec=stereo
Type=Application
Version=0.2b_1-1
