[Desktop Entry]
Categories=;
Comment=Whitedune vrml editor
Exec=whitedune
GenericName=Whitedune
Hidden=false
Icon=/usr/share/pixmaps/whitedune.xpm
Name=Whitedune
NoDisplay=false
StartupNotify=true
Terminal=1
TryExec=whitedune
Type=Application
Version=0.28.14
