[Desktop Entry]
Categories=;
Exec=jSVR
GenericName=jSVR
Hidden=false
Icon=/usr/share/icons/archeos/48x48/jsvr48.png
Name=jSVR
NoDisplay=false
StartupNotify=true
Terminal=1
TryExec=jSVR
Type=Application
Version=0.5
