[Desktop Entry]
Categories=;
Comment=View and process meshes
Exec=meshlab
GenericName=Mesh processing
GenericName[en_GB]=Mesh processing
Hidden=false
Icon=/usr/share/pixmaps/meshlab_32x32.xpm
MimeType=model/mesh;application/x-3ds;image/x-3ds;application/sla;
Name=MeshLab
Name[en_GB]=MeshLab
Terminal=false
Type=Application
Version=1.0
