[Desktop Entry]
Categories=;
Comment=Manage databases, create queries and reports to track and manage your information by using Base.
Comment[en]=Manage databases, create queries and reports to track and manage your information by using Base.
Exec=ooffice -base %U
GenericName=Database Development
GenericName[en]=Database Development
Hidden=false
Icon=openofficeorg3-base
InitialPreference=5
MimeType=application/vnd.oasis.opendocument.database;application/vnd.sun.xml.base;
Name=OpenOffice.org Base
Terminal=false
Type=Application
Version=1.0
X-KDE-Protocols=file,http,smb,ftp,webdav
