#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=GPSBabel
Exec=/usr/bin/gpsbabelfe
Comment[en_US]=GPS file conversion plus transfer to/from GP
Name=GPSBabel
Comment=GPS file conversion plus transfer to/from GP
Icon=/usr/share/icons/archeos-application/archeos-apps-gpsbabel.png
