[Desktop Entry]
Type=Application
Name=GPSBabel
GenericName=GPSBabel
Exec=gpsbabel
Terminal=true
Icon=None
Categories=Application;03-gps;
X-ArcheOS-Package=gpsbabel
