[Desktop Entry]
Type=Application
Name=InVesalius-3.0
GenericName=InVesalius-3.0
Exec=invesalius-3.0
Terminal=false
Icon=invesalius
Categories=Application;Graphics;Medical;GTK;01-3D-applications;
X-ArcheOS-Package=invesalius-3.0
