[Desktop Entry]
Name=Spatialite GUI
Exec=spatialite-gui
Terminal=false
Type=Application
Categories=Development;Database;
Keywords=spatial;sqlite;gis
Category=06-db-tools;
X-Archeos-Package=spatialite-gui
