[Desktop Entry]
Name=test
Encoding=UTF-8
Exec=sh -c "noprogramname;${SHELL:-bash}"
Icon=archeos-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=quick;02-dendrochronology;
X-ArcheOS-Package=test
