[Desktop Entry]
Categories=15-hardware;
X-ArcheOS-Package=python-totalopenstation
Exec=totalopenstation-guy
GenericName=
Hidden=false
Icon=archeos-logo
Name=TOPS (Total Open Station)
NoDisplay=false
StartupNotify=true
Terminal=false
TryExec=totalopenstation-gui
Type=Application
